/* banner */
/* stylelint-disable-next-line selector-max-id */
#banner {
    background-image: url("../../images/banner-1.avif");
    min-height: 50rem;
    height: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8rem 0 2em 0;
}

.banner-description {
    padding: 14rem 0;
    max-width: 52rem;
    max-height: 58rem;
    height: 26rem;
    margin: 0 6rem;
}

.banner-title {
    font-size: 6rem;
    margin-bottom: 2.4rem;
    color: #ffffff;
    text-shadow: 0 0 0.62rem rgba(0, 0, 0, 0.5);
}

.banner-subtitle {
    font-size: 1.6rem;
    margin-bottom: 3.2rem;
    color: #ffffff;
    text-shadow: 0 0 0.62rem rgba(0, 0, 0, 0.5);
}

/* swiper-slider  */
.swiper-button-prev,
.swiper-button-next {
    --swiper-navigation-size: 2rem; /* перебивка css переменных swiper слайдера */
    --swiper-navigation-color: #ffffff;
    background-color: transparent;
    color: #ffffff;
    width: 4rem;
    height: 4rem;
    border-radius: 0;
    border-color: transparent;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    --swiper-navigation-sides-offset: 0;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    --swiper-navigation-sides-offset: 0;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 1.2rem;
}

.swiper-pagination-bullet {
    --swiper-pagination-bullet-inactive-color: #000;
    -swiper-pagination-bullet-inactive-opacity: 1;
}

/* active bullet */
.swiper-pagination-bullet-active {
    --swiper-theme-color: #ffffff;
}

/* адаптив */
@media screen and (max-width: 768px) {
    .banner-description {
        max-width: 100%;
        margin: 0 3rem;
    }

    .banner-title {
        font-size: 6rem;
    }

    .banner-subtitle {
        font-size: 2rem;
    }

    .swiper-button-prev,
    .swiper-button-next {
        --swiper-navigation-size: 1.8rem;
        margin-top: 4rem;
    }
}

@media screen and (max-width: 678px) {
    .banner-title {
        font-size: 5.2rem;
    }

    .banner-subtitle {
        font-size: 1.4rem;
    }

    /* stylelint-disable-next-line selector-max-id */
    #banner .swiper-button-prev,
    #banner .swiper-button-next {
        display: none;
    }
}

@media screen and (max-width: 545px) {
    .banner-title {
        font-size: 4.8rem;
    }
}
